<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Tu Carrito de Compras</title>
</head>
<body>
    <%- include("./partials/header") %>


    <main class="mt-5 pt-4">
        <div class="container wow fadeIn animated">
            <h2 class="mt-5 mb-3 h2 text-center"> Productos en mi carrito</h2>
            <div class="card my-5">
                <div class="card-body">
                    <table class="table table-responsive-md mb-0">
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                    <strong>#</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Producto</strong>
                                </th>
                                <th class="th-lg ">
                                    <strong>Precio</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Cantidad</strong>
                                </th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody class="productos_agregados">
                            <% products.forEach((product, index) => { %>
                                <tr >
                                    <td>
                                        <strong><%= index + 1 %></strong>
                                    </td>
                                    <td class="th-lg productonombre">
                                        <img  src="/images/products/<%= product.img %>" alt="<%= product.name %>" style=" height: 100px;">
                                        <%= product.name %>
                                    </td>
                                    <td class="th-lg">
                                        <strong>$<%= product.price %></strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>1</strong> <!-- Cantidad fija en 1 -->
                                    </td>
                                    <td>
                                        <!-- Puedes agregar un botón para eliminar el producto si lo necesitas -->
                                        <!-- <button class="btn btn-danger btn-sm">Eliminar</button> -->
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                        
                    </table>
                    <button class="btn btn-primary btn-lg btn-block waves-effect waves-light"
                        type="submit">Comprar</button>
                </div>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>