<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles-product-edit.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <title>Crear Producto</title>
    
</head>
<body>
    <%- include("./partials/header") %>
    <div class="container">
        <h1>Creando producto nuevo</h1>
        <form action="/products/create" method="POST" enctype="multipart/form-data">


            <label for="name">Nombre del producto:</label>
            <input type="text" id="name" name="name" value="<%=locals.old&&locals.old.name%>">
            <%if(locals.errors&&errors.name){%>
                <div class="errors"><%=errors.name.msg%></div>
                <%}%>


            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" placeholder="Ej: 3000" step="0.01" 
            value="<%=locals.old&&locals.old.price%>">
            <%if(locals.errors&&errors.price){%>
                <div class="errors"><%=errors.price.msg%></div>
                <%}%>


            <label for="discount">Descuento:</label>
            <input type="text" id="discount" name="discount" placeholder="Ej: 15" value="<%=locals.old&&locals.old.discount%>">
            <%if(locals.errors&&errors.discount){%>
                <div class="errors"><%=errors.discount.msg%></div>
            <%}%>


            <label for="category">Categoría:</label>
            <select name="category" id="category">
                <option value="">Elegí</option>
                <option value="in-sale" 
                <%if(locals.old&&old.category=="in-sale"){%>selected<%}%>
                    >En oferta</option>
                <option value="best-seller" 
                <%if(locals.old&&old.category=="best-seller"){%>selected<%}%>>Últimos agregados</option>
            </select>
            <%if(locals.errors&&errors.category){%>
                <div class="errors"><%=errors.category.msg%></div>
                <%}%>


            <label for="productImg">Imagen:</label>
            <input type="file" id="productImg" name="productImg">
            <%if(locals.errors&&errors.productImg){%>
                <div class="errors"><%=errors.productImg.msg%></div>
            <%}%>



            <label for="description">Descripción:</label>
            <textarea name="description" id="description" placeholder="Un buen producto :b" value="<%=locals.old&&locals.old.description%>"></textarea>
            <%if(locals.errors&&errors.description){%>
                <div class="errors"><%=errors.description.msg%></div>
            <%}%>

            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</body>
<%- include("./partials/footer") %>
</html>