<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles-product-edit.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <title>Crear Producto</title>
    
</head>
<body>
    <%- include("./partials/header") %>
    <div class="container">
        <h1>Creando producto nuevo</h1>
        <form class="formulario" action="/products/create" method="POST" enctype="multipart/form-data">


            <label for="name">Nombre del producto:</label>
            <input class="name" type="text" id="name" name="name" value="<%=locals.old&&locals.old.name%>">
            <%if(locals.errors&&errors.name){%>
                <div class="errors"><%=errors.name.msg%></div>
                <%}%>
            <div class="errors frontError errorName"></div>


            <label for="price">Precio:</label>
            <input class="price" type="number" id="price" name="price" placeholder="Ej: 3000" step="0.01" 
            value="<%=locals.old&&locals.old.price%>">
            <%if(locals.errors&&errors.price){%>
                <div class="errors"><%=errors.price.msg%></div>
                <%}%>
            


            <label for="discount">Descuento:</label>
            <input class="discount" type="text" id="discount" name="discount" placeholder="Ej: 15" value="<%=locals.old&&locals.old.discount%>">
            <%if(locals.errors&&errors.discount){%>
                <div class="errors"><%=errors.discount.msg%></div>
                <%}%>

            <label for="category">Categoría:</label>
            <select name="category" id="category">
                <option value="">Elegí</option>
                <option value="Proteina" 
                <%if(locals.old&&old.category=="Proteina"){%>selected<%}%>
                    >Proteina</option>
                <option value="Desarrollo-Muscular" 
                <%if(locals.old&&old.category=="Desarrollo-Muscular"){%>selected<%}%>
                >Desarrollo Muscular</option>
                <option value="Energia-Resistencia" 
                <%if(locals.old&&old.category=="Energia-Resistencia"){%>selected<%}%>
                    >Energia y Resistencia</option>
                <option value="Quemadores-de-Grasa" 
                <%if(locals.old&&old.category=="Quemadores-de-Grasa"){%>selected<%}%>
                >Quemadores de Grasa</option>
            </select>
            <%if(locals.errors&&errors.category){%>
                <div class="errors"><%=errors.category.msg%></div>
                <%}%>


            <label for="productImg">Imagen:</label>
            <input class="img" type="file" id="productImg" name="productImg">
            <%if(locals.errors&&errors.productImg){%>
                <div class="errors"><%=errors.productImg.msg%></div>
            <%}%>
            <div class="errors frontError errorImg"></div>


            <label for="description">Descripción:</label>
            <textarea class="description" name="description" id="description" 
            placeholder="Un buen producto :b" ><%if(locals.old&&old.description){%><%=old.description%><%}%></textarea>

            <%if(locals.errors&&errors.description){%>
                <div class="errors"><%=errors.description.msg%></div>
            <%}%>
            <div class="errors frontError errorDescription"></div>


            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</body>
<%- include("./partials/footer") %>
<script src="/js/create.js"></script>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>

</html>