<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFit</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"    >
    <link rel="stylesheet" href="/css/styles-home.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <h2>Mas vendidos</h2>
        <section class="articulos-mas-vendidos">
            <% for (let i=0; i<products.length; i++){%>
            <%if(products[i].category=='best-seller'){%>
            <a href="/product" class="articulo">
                <div class="img-container">
                    <img class="img-producto" src="/images/products/<%=products[i].img%>" alt="imagen del producto">
                </div>
                <div class="descripcion-container">
                    <div class="detalles">
                        <div class="article-name"><%=products[i].name%></div>
                        <div class="article-cost">$<%=products[i].price%></div>
                    </div>
                    <div class="caracteristicas">
                        <div class="article-rating">
                            <%for(let i=0;i<=products[i].rating;i++){%>
                            <i class="fas fa-star"></i>
                            <%}%>
                        </div>
                        <%if(products[i].discount!=0){%>
                        <div class="article-offer"><i class="fas fa-tags fa-flip-horizontal"></i><%=products[i].discount%>% OFF</div>
                        <%}%>
                    </div>
                </div>
            </a>
            <%}}%>
        </section>
        <h2>Artículos en oferta</h2>
        <section class="articulos-en-oferta">
            <% for (let i=0; i<products.length; i++){%>
            <%if (products[i].category=='in-sale'){%>
                <a href="/product" class="articulo">
                    <div class="img-container">
                        <img class="img-producto" src="/images/products/<%=products[i].img%>" alt="imagen del producto">
                    </div>
                    <div class="descripcion-container">
                        <div class="detalles">
                            <div class="article-name"><%=products[i].name%></div>
                            <div class="article-cost">$<%=products[i].price%></div>
                        </div>
                        <div class="caracteristicas">
                            <div class="article-rating">
                                <%for(let i=0;i<=products[i].rating;i++){%>
                                <i class="fas fa-star"></i>
                                <%}%>
                            </div>
                            <%if(products[i].discount!=0){%>
                            <div class="article-offer"><i class="fas fa-tags fa-flip-horizontal"></i><%=products[i].discount%>% OFF</div>
                            <%}%>
                        </div>
                    </div>
                </a>
            <%}}%>
        </section>
    </main>

    <%- include("./partials/footer") %>
</body>
</html>
</body>
</html>
