<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Iniciar Sesión</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="/css/styles-login-register.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-header.css">
</head>  
<body>
    <%- include("./partials/header") %>
    <form action= "/users/login" method="POST" class="formulario">
    
    <h1>Login</h1>
    <div class="contenedor">
    <div class="input-contenedor">
        <i class="fas fa-envelope icon"></i>
        <input type="text" class="email" name="email" placeholder="Correo Electrónico" value="<%=locals.old&&locals.old.email%>">
        <br>
    </div>
    <div class="errors frontError errorEmail"></div>
        <%if(locals.errors&&errors.email.msg){%>
            <div class="errors"><%=errors.email.msg%></div>
        <%}%>

        <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
        <input type="password" name="password" class="password" placeholder="Contraseña"><br>
        </div>
        <div class="errors frontError errorPassword"></div>

        <%if(locals.errors&&errors.password){%>
            <div class="errors"><%=errors.password.msg%></div>
        <%}%>


        <div class="input-contenedor" id="recuerdame">
            <input type="checkbox" name="recordar" id="recordar">
            <label for="recordar" class="custom-checkbox">¿Quieres ser recordado?</label>
        </div>

        <%if(locals&&locals.errorCredenciales){%>
            <div class="errors frontError errors"><%=errorCredenciales%></div>
        <%}%>

        <input type="submit" value="Login" class="button">
        <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
        <p>¿No tienes una cuenta? <a class="link" href="registro">Registrate </a></p>
    </div>
    </form>
    <%- include("./partials/footer") %>
</body>
<script src="../middleware/session.js"></script>
<script src="/js/login.js"></script>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</html>