<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <tittle></tittle>
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/styles-producto.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/styles-header.css">
    </head>
	<header>
		<%- include("./partials/header") %>
	</header>
    <body>
		<main class="manu-2">
			<div class="container-img">
				<img class="producto-0"
					src="/images/products/<%=product.img%>"
					alt="imagen-producto"
				/>
			</div>
			<div class="container-info-product">
                <div>
					<%if(product.discount!=0){%>
                    <h1 class="titulo"></h1>
					<%}%>
                    <h3 class="titulo"><%= product.name%></h3>
                </div>
				<div class="container-price">
					<span class="titulo">$<%= product.price%></span>
					<i class="fa-solid fa-angle-right"></i>
				</div>
				<div class="container-details-product">
					<div class="form-group">
						<label for="size">Cantidad</label>
						<input type="text" class="size" value="1">

					</div>
				</div>

				<form method="post" class="container-add-cart" action=
				<%if(locals.userLogged){ %>
					<%=`/products/carrito/${locals.userLogged.id}`%>
				<%} else {%>
					<%='/users/login'%>
				<%}%>
				>
				<%if(locals.userLogged){ %>
					<input type="hidden" name="idProducto" value=<%=product.id%>>
					<input type="hidden" name="idUsuario" value=<%=locals.userLogged.id%>>
				<%}%>
					<button class="btn-add-to-cart" type="submit">
						<i class="fa-solid fa-plus"></i>
						A침adir al carrito
					</button>


				</form>


				<div class="container-description">
					<div class="title-description">
						<h4>Descripci칩n</h4>
						<i class="fa-solid fa-chevron-down"></i>
					</div>
					<div class="text-description">
						<p><%= product.description%></p>
					</div>
				</div>

				<div class="container-additional-information">
					<div class="title-additional-information">
						<h4>Informaci칩n adicional</h4>
						<i class="fa-solid fa-chevron-down"></i>
					</div>
					<div class="text-additional-information hidden">
						<p>-----------</p>
					</div>
				</div>

				<div class="container-reviews">
					<div class="title-reviews">
						<h4>Rese침as</h4>
						<i class="fa-solid fa-chevron-down"></i>
					</div>
					<div class="text-reviews hidden">
						<p>-----------</p>
					</div>
				</div>

				<div class="container-social">
					<span>Compartir</span>
					<div class="container-buttons-social">
						<a href="#"><i class="fa-solid fa-envelope" style="color: white;"></i></a>
						<a href="#"><i class="fa-brands fa-facebook" style="color: #0033ff;"></i></a>
						<a href="#"><i class="fa-brands fa-twitter" style="color: #00ebe7;"></i></a>
						<a href="#"><i class="fa-brands fa-instagram" style="color: black"></i></a>
						<a href="#"><i class="fa-brands fa-pinterest" style="color: #ff4000;"></i></a>
					</div>
				</div>
				<div class="button-container">
				<a class="boton" href="/products/edit/<%=product.id%>">EDITAR</a>
				<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
					<button type="submit" class="delete-button">ELIMINAR</button>
				</div>
				</form>
			</div>
		</main>

		<%- include("./partials/footer") %>
        <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
	</body>
</html>