<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles-product-edit.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <title>Editar Producto</title>
    
</head>
<body>
    <%- include("./partials/header") %>
    <div class="container">
        <h1>Estás editando: <i><%=productToEdit.name%></i></h1>
        <form class="formulario" action="/products/edit/<%=productToEdit.id%>?_method=PUT" method="post" enctype="multipart/form-data">


            <label for="name">Nombre del producto:</label>
            <input class="name" type="text" id="name" name="name" 
            <%if(locals.old&&old.name){%>
                value="<%=old.name%>"
                <%}else{%>
            value="<%= productToEdit.name %>">
            <%}%>
            <%if(locals.errors&&errors.name){%>>
                <div class="errors"><%=errors.name.msg%></div>
                <%}%>
                <div class="errors frontError errorName"></div>


            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" 
            <%if(locals.old&&old.price){%>
                value="<%=old.price%>"
                <%}else{%>
            value="<%= productToEdit.price %>"<%}%>
            step="0.01">
            <%if(locals.errors&&errors.price){%>
                <div class="errors"><%=errors.price.msg%></div>
                <%}%>
            

            <label for="discount">Descuento:</label>
            <input type="text" id="discount" name="discount" 
            <%if(locals.old&&old.discount){%>
                value="<%=old.discount%>"
                <%}else{%>
            value="<%= productToEdit.discount %>"<%}%>>
            <%if(locals.errors&&errors.discount){%>
                <div class="errors"><%=errors.discount.msg%></div>
                <%}%>


            <label for="category">Categoría:</label>
            <select name="category" id="category">
                <option value="Proteina"<% if (productToEdit.category_id == 1 ) { %>selected<% } %>>Proteina</option>
				<option value="Desarrollo-Muscular"<% if (productToEdit.category_id === 2 ) { %>selected<% } %>>Desarrollo Muscular</option>
                <option value="Energia-Resistencia"<% if (productToEdit.category_id == 3 ) { %>selected<% } %>>Energia y Resistencia</option>
				<option value="Quemadores-de-Grasa"<% if (productToEdit.category_id === 4 ) { %>selected<% } %>>Quemadores de Grasa</option>
            </select>


            <label for="productImg">Imagen:</label>
            <input class="img" type="file" id="productImg" name="productImg">
            <%if(locals.errors&&errors.productImg){%>
                <div class="errors"><%=errors.productImg.msg%></div>
                <%}%>
                <div class="errors frontError errorImg"></div>


            <label for="description">Descripción:</label>
            <textarea class="description" name="description" id="description">
<%if(locals.old&&old.description){%><%=old.description%><%}else{%><%=productToEdit.description%><%}%></textarea>

            <%if(locals.errors&&errors.description){%>
                <div class="errors"><%=errors.description.msg%></div>
            <%}%>
            <div class="errors frontError errorDescription"></div>


            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
    <script src="/js/edit.js"></script>
</body>
<%- include("./partials/footer") %>
</html>