<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/styles-product-edit.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <title>Editar Producto</title>
    
</head>
<body>
    <%- include("./partials/header") %>
    <div class="container">
        <h1>Estás editando: <i><%=productToEdit.name%></i></h1>
        <form action="/edit/<%=productToEdit.id%>?_method=PUT" method="post" enctype="multipart/form-data">
            <label for="name">Nombre del producto:</label>
            <input type="text" id="name" name="name" value="<%= productToEdit.name %>" required>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" value="<%= productToEdit.price %>" step="0.01" required>
            <label for="discount">Descuento:</label>
            <input type="text" id="discount" name="discount" value="<%= productToEdit.discount %>">
            <label for="category">Categoría:</label>
            <select name="category" id="category">
                <option value="in-sale"<% if (productToEdit.category == 'in-sale') { %>selected<% } %>>En oferta</option>
							<option value="visited"<% if (productToEdit.category === 'best-seller') { %>selected<% } %>>Últimos agregados</option>
            </select>
            <label for="img-product">Imagen:</label>
            <input type="file" id="img-product" name="img-product">
            <label for="description">Descripción:</label>
            <textarea name="description" id="description"><%= productToEdit.description %></textarea>
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</body>
<%- include("./partials/footer") %>
</html>