<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="/css/styles-header.css">
</head>  
<body>
    <%- include("./partials/header") %>
<form class="formulario" action="/users/registro" method="POST" enctype="multipart/form-data">
    <h1>Regístrate</h1>
    <div class="contenedor">
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Nombre" name="firstName" value="<%= locals.oldData ? oldData.firstName : null %>">
        </div>
        <%if(locals.errors&&errors.firstName){%>
        <div class="errors"><%=errors.firstName.msg%></div>
        <%}%>
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Apellido" name="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
        </div>
        <%if(locals.errors&&errors.lastName){%>
            <div class="errors"><%=errors.lastName.msg%></div>
            <%}%>
        <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Nombre de Usuario" name="username" value="<%= locals.oldData ? oldData.username : null %>">
        </div>
        <%if(locals.errors&&errors.username){%>
            <div class="errors"><%=errors.username.msg%></div>
            <%}%>
        <div class="input-contenedor">
        <i class="fas fa-envelope icon"></i>
        <input type="text" name="email" placeholder="Correo Electrónico" value="<%= locals.oldData ? oldData.email : null %>">
        </div>
        <%if(locals.errors&&errors.email){%>
            <div class="errors"><%=errors.email.msg%></div>
            <%}%>
        
        <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
        <input type="password" name="password" placeholder="Contraseña">
        </div>
        <%if(locals.errors&&errors.password){%>
            <div class="errors"><%=errors.password.msg%></div>
            <%}%>
    
        <div class="input-contenedor">
            <i class="fas fa-calendar-alt icon"></i>
            <input type="date" name="fechaNacimiento" value="<%= locals.oldData ? oldData.fechaNacimiento: null %>">
        </div>
        <%if(locals.errors&&errors.fechaNacimiento){%>
            <div class="errors"><%=errors.fechaNacimiento.msg%></div>
            <%}%>
        <div class="input-contenedor">
            <label for="avatar">Elige tu avatar</label>
            <input type="file" name="avatar" id="avatar">
        </div>
        <%if(locals.errors&&errors.avatar){%>
            <div class="errors"><%=errors.avatar.msg%></div>
            <%}%>
        <input type="submit" value="Regístrate" class="button">
        <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
        <p>¿Ya tienes una cuenta?<a class="link" href="login">Iniciar Sesión</a></p>
    </div>
    </form>
    <%- include("./partials/footer") %>
</body>
</html>