<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Registro</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="/css/styles-header.css">
</head>  
<body>
    <%- include("./partials/header") %>
<form class="formulario" action="/users/registro" method="POST" enctype="multipart/form-data">
    <h1>Regístrate</h1>
    <div class="contenedor">
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Nombre" name="firstName" class="firstName" value="<%= locals.oldData ? oldData.firstName : null %>">
        </div>
        <%if(locals.errors&&errors.firstName){%>
            <div class="errors"><%=errors.firstName.msg%></div>
            <%}%>
            <div class="errors frontError errorFirstName"></div>
        
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Apellido" name="lastName" class="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
        </div>
        <%if(locals.errors&&errors.lastName){%>
            <div class="errors"><%=errors.lastName.msg%></div>
            <%}%>
        <div class="errors frontError errorLastName"></div>


        <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" placeholder="Nombre de Usuario" class="username" name="username" value="<%= locals.oldData ? oldData.username : null %>">
        </div>
        <%if(locals.errors&&errors.username){%>
            <div class="errors"><%=errors.username.msg%></div>
            <%}%>

        <div class="input-contenedor">
        <i class="fas fa-envelope icon"></i>
        <input type="text" class="email" name="email" placeholder="Correo Electrónico" value="<%= locals.oldData ? oldData.email : null %>">
        </div>
        <%if(locals.errors&&errors.email){%>
            <div class="errors"><%=errors.email.msg%></div>
            <%}%>
            <div class="errors frontError errorEmail"></div>
        
        <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
        <input type="password" name="password" class="password" placeholder="Contraseña">
        </div>
        <%if(locals.errors&&errors.password){%>
            <div class="errors"><%=errors.password.msg%></div>
            <%}%>
            <div class="errors frontError errorPassword"></div>

        <div class="input-contenedor">
            <i class="fas fa-calendar-alt icon"></i>
            <input class="date" type="date" name="birthdate" value="<%= locals.oldData ? oldData.birthdate: null %>">
        </div>
        <%if(locals.errors&&errors.birthdate){%>
            <div class="errors"><%=errors.birthdate.msg%></div>
            <%}%>

        <div class="input-contenedor">
            <label for="avatar">Elige tu avatar</label>
            <input type="file" name="avatar" class="avatar" id="avatar">
        </div>
        <%if(locals.errors&&errors.avatar){%>
            <div class="errors"><%=errors.avatar.msg%></div>
            <%}%>
            <div class="errors frontError errorAvatar"></div>

        <input type="submit" value="Regístrate" class="button">
        <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
        <p>¿Ya tienes una cuenta?<a class="link" href="login">Iniciar Sesión</a></p>
    </div>
    </form>
    <%- include("./partials/footer") %>

    <script src="/js/registro.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</body>
</html>